<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/global.css">
    <link rel="stylesheet" href="./styles/login.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div id="card">
            <div id="cardTitle">
                <h1>Lab 12 <br> Desenvolvimento Web</h1>
            </div>

            <div id="cardForm">
                <form method="POST" action="/auth">
                    <label for="username">USUÁRIO</label>
                    <input id="username" type="text">

                    <label for="password">SENHA</label>
                    <input id="password" type="password">

                    <button type="submit">ENTRAR</button>

                    <a href="#">Realizar cadastro</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>